body {
   
    margin:auto;
    background-color:snow;
}
.one   {
     background-color: cadetblue;
     height:20px;
     padding: 5px;
     direction: ltr;
     text-align: right;
     
}

.one a {
     margin: 10px;
    color: darkturquoise;
    font-family: sans-serif;
    font-size: 12px;
    background-color:aliceblue;
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;  
}
.two {
   
    height:110px;
    margin-top:10px;
    
    
}
.two img {
    margin-top:-5px;
    padding:10px;
    width:200px;
    height:120px;
    
}
.two section {
    float:right;
    width:350px;
    height:90px;
    border:1px solid;
    border-radius: 10px;
    margin-top:10px;
    margin-right: 10px;
    padding-left:10px;
    text-align: left;
    line-height: 22px;
    color:cornflowerblue;
}
.two section span{
   
    font-size:14px;
    font-family: Tahoma;
    font-weight: bold;
    
}
.two section input[type="submit"]{
    background: orangered;
    width:40px; height: 23px;
    color:white;
    font-weight: bold;
    font-family: monospace;
}
.three {
    background-color: deepskyblue;
    height:50px;
   
    margin-top:10px;
    padding-top: 8px;
    
    
}
.three table td {
padding-left:210px;

font-size:25px;
font-weight:500;
font-family: Arial ,sans-serif;
    
            }
.three table td a {
    color:white;
    text-decoration: none;
    
}
.three table td a:hover {
    font-size:35px;
    color:deeppink;
    font-weight: bold;
  
}
.four { 
    width:90%;
    margin: auto;
    margin-top:40px;
    padding: 10px;
    background-color:dodgerblue;
    position: relative;
    border-radius: 10px;
    }
.four label {
    margin-left:150px;
    font-size: 18px;
    color:gold;
    
}
.four input,select{
    margin-top:20px;
    margin-left: 10px;
}
.four form input[type="button"]{
    margin-left:200px;
    background: yellow;
    padding:5px;
    font-weight: bold;
    font-family: cursive;
}
.four form img{
    width:500px;
    height:200px;
    position: absolute;
    top:180px;
    right:50px;
}
#another input {
    width:200px;
}
.five {
    margin-top:10px;
   
    height:150px;
    display:inline-flex;
     background-color:deepskyblue;
     width:100%;
}
.five section {
    
    padding: 10px;
    width:30%;
    margin-left: 30px;
    text-align: left;
    border-right:1px solid #cfbfd0;
}
.five section p span  {
    font-weight: bold;
    font-size:20px;
    margin-left: 80px;
    color:white;
    background-color:darkviolet;
    border-radius: 5px;
}
 #p {
    text-align: center;
}
#p span {
    margin-left:0;
}

    



