body {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #f2f2f2;
}

/* Start Header */
header {
    width:100%;
    background-color: #ea2c0c;
}
header ul {
    list-style: none;
    margin-left:50px;
    display:inline-block;
}
header ul li {
    float:left;
    margin-right:40px;
    color:#f2f2f2;
}
header ul a li:hover {
    color:#c2c2c2;
}
/* End Header */ 

/* Start Asidebar */

aside {
    width:25%;
    float:left;
    margin-bottom: 100px;
}
aside .shortcuts {
    width:80%;
    background-color:#FFF;
    margin-left: 10%;
    margin-top:25px;
}
aside .shortcuts ul {
    list-style: none;
    margin-left: -20px;
    padding-bottom:40px;
}
aside .shortcuts ul li {
    line-height: 2;
    font-family: Arial,Tahoma;
}
aside .shortcuts ul li span {
    background-color: #f81a0f;
    color:#FFF;
    font-family: Arial;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
}
aside .shortcuts ul li:first-of-type {
    font-size:22px;
}
aside .shortcuts ul li a {
    text-decoration: none;
    color: #000;
}
aside .shortcuts ul li a:hover {
    color:#c2c2c2;
}
aside .exp{
    width:80%;
    margin-left: 10%;
    margin-top:25px;
    background-color: #FFF;
    text-align: center;
    padding: 5px 0 10px 0 ;
}
aside .exp p {
    font-family: Arial,Tahoma;
}
aside .exp p:first-of-type{
    font-size: 18px;
    margin-bottom: 0;
}
aside .exp p:last-of-type{
    color:#c2c2c2;
    margin-top:8px;
}
aside .exp img {
    width:60%;
    margin:5px 20% 10px 20%;
}
aside .exp span {
    color:#373737;
    font-family: Arial,Tahoma;
    
}
/* End Asidebar */

/* Start Content */
.content {
    width:70%;
    float:left;
    margin-top:25px;
    overflow: hidden;
}
.content .first {
    width:100%;
    float: left;
    background-color: #FFF;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom:1px solid lightgrey;
}
/* Start left div */
.content .first .left {
    float:left;
    display: block;
    width:45%;
}
.content .first .left span:first-of-type{
    width:80px;
    height:80px;
    float:left;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    background-color:#3a3a3a;
    color:#FFF;
    padding: 7px;
    margin:10px; 
}
.content .first .left p {
    display: inline-block;
    float: left;
    font-size: 25px;
    font-family: Arial,Tahoma;
    margin:35px 25px 0 10px;
}
.content .first .left span:nth-of-type(2) {
    font-size: 20px;
    float: left;
    background-color: #f81a0f;
    color:#FFF;
    font-family: Arial;
    font-weight: 600;
    border-radius: 3px;
    margin-top:30px;
    padding: 7px;
}
.content .first .left span:nth-of-type(3){
    display:inline-block;
    float:left;
    margin-left: 23.5%;
    color:#bebebe;
}
.content .first .left img{
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px; 
}
/* End left div */
/*Start right div */
.content .right {
    float: right;
    display: inline-block;
    margin:10px;
}
.content .right select {
    background-color: #FFF;
    border-color:f2f2f2;
    margin:10px;
    padding:10px 35px 5px 5px;
}
.content .right div {
    border:1px solid #f2f2f2;
    display:inline-block;
    padding:5px;
    margin-left: 10px;
}
/* End right div */

.content ul {
    display: block;
    float: left;
    width: 100%;
    background-color:#fafafa;
    margin-top:0;
    margin-bottom: 3px;
    position: relative;
}
.content ul li {
    display: inline;
    float:left;
    margin:20px;
}
.content ul li:After {
    content: "|";
    font-size: 50px;
    color:lightgrey;
    position: absolute;
    top:20px;
    margin-left: 20px;
}
.content ul li:last-of-type:After{
    content:none;
}
.content ul li span {
    text-align: center;
    width:50px;
    display: inline-block;
    margin-bottom: 10px;
}


/* Start Second section*/
.content .second {
    width:100%;
    height: 470px;
    float: left;
    margin-top:20px;
    border:1px solid #fafafa;;
    background-color: #FFF;
    
}
.content .second span:first-of-type{
    font-size: 20px;
    font-family: cursive;
    display:block;
    margin:20px;
}
.content .second img {
    width:80px;
    margin:20px;
    display: inline-block;
    float: left;
}
.content .second p{
    float:left;
    display:inline-block;
    margin:30px 0 0 20px ;
}
.content .second span:nth-of-type(2),.content .second span:nth-of-type(3),.content .second span:nth-of-type(4) {
    display: inline-block;
    float:right;
    margin:30px 20px;
}
.clearfix {
    clear: both;
}
.content .second hr {
    color:#fafafa;
    width:90%;
}
.content .second select {
    border:0;
    display: block;
    width:10%;
    margin:0 auto;
}
a .fa-times-circle  {
    font-size: 50px;
    color:#c2c2c2;
    position: absolute;
    top:750px;
    margin-left: 20px;
}
a .fa-pencil-square {
    font-size: 50px;
    position: absolute;
    top:650px;
    margin-left: 20px;
    color:#8d8d8d; 
} 
/* End Second Section */
/* End Content /*