* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: sans-serif,Tahoma;
}
/* Start Header */ 
header {
    width:100%;
    height: 600px;
    background-image: url("background.jpg");
    background-size: cover;
    opacity: 0.7;
    overflow: hidden;
}
header ul {
    width: 100%;
    padding: 10px;
    background-color: #000;
    opacity: 0.6;
}
@media (min-width:767px){
    header ul li.fl-left:first-of-type {
        margin-left: 40px;
    }
    header ul {
        position: fixed;
    }
}
ul li a {
    text-decoration: none;
    color:#F2F2F2;
}
header ul li.fl-left {
    color:#F2F2F2;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 20px;
}
header ul li.fl-right {
    color:#F2F2F2;
    font-size: 20px;
    margin-right: 20px;
    direction: rtl;
}
header ul li a:hover {
    color:lawngreen;
    font-weight: 600;
    cursor:Pointer;
} 
header ul li i:hover {
    color:lawngreen;
    cursor: pointer;
}
header span {
    display: none;
}
header p {
    color:#f2f2f2;
    line-height: 1.4;
}
@media (max-width:767px){ /* for mobiles */
    header > ul {
        display: none;
    }
    header nav {
        position: fixed;
        width: 100%;
    }
    header nav ul {
        overflow: hidden;
    }
    header nav span {
        display: block;
        font-size: 30px;
        font-weight: bolder;
        color:greenyellow;
        padding: 20px;
        cursor: pointer;
    }
    header nav ul li {
        float: none;
        width:100%;
        display: block;
        padding:20px;
        border-bottom: 1px solid #F2F2F2;
    }
    header .container {
        margin-top:20%;
        width: 90%;
        margin:auto;
    }
    header .container span {
        font-size: 100px;
    }
}
header .container span {
    display: block;
    width:60%;
    font-weight: bold;
    font-style: italic;
    -webkit-transform: rotate(-15deg);
    font-family: 'Fugaz One', cursive;
    margin: 20% 20%;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    text-decoration: underline;
}
@media (min-width:768px){
    header .container span{
    font-size: 150px;
    }
} 
header .container h2 {
    color:#FFF;
    margin-bottom: 20px;
}
header .container p {
    color: #F2F2F2;
}
header .container .btn {
    width:40%;
    margin: 25px auto;
}
header .container .btn button{
    width:40%;
    margin-left:5%;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFF;
}


header .container .btn a:first-of-type button {
    background-color: #75316e;
}
header .container .btn  a:first-of-type button:hover {
    background-color: mediumvioletred;
}
header .container .btn a:nth-of-type(2) button {
    background-color: #333781;
}
header .container .btn a:nth-of-type(2) button:hover {
    background-color: mediumblue;;
}
@media (max-width:767px) {
    header .container .btn {
        width: 60%;
        margin:20%;;
        margin-top:80px;
    }
    header .container .btn button{
        width:35%;
        margin:0 0 0 5%;
    }    
}
@media (max-width:500px) {
    header .container .btn {
        margin-top:80px;
        width: 60%;
    }
    header .container .btn button{
        width:auto;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    header .container .btn a {
        text-decoration: none;
        color:#FFF;
    }
}
/* End Header */ 
/* Start Services */
.services {
    margin-top:80px;
}
.services .container h3 {
    text-align: center;
    text-shadow: 5px 5px 50px #000;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: Tahoma;
}
.services .container section:first-of-type {
    margin-left: 0;
}
.services .container section {
    width:25%;
    float: left;
    margin:70px 0  0 12.5%;
}
.services .container section h4 {
    font-family: cursive;
    color:grey;
}
.services .container section p {
    margin-top:20px;
    color:lightgray;
    line-height: 1.4;
}
@media (max-width:767px) {
    .services .container section{
        width:100%;
        float: none;
        margin:40px 0;
    } 
}
/* End Services */
/* Start Client */ 
.clients{
    width:100%;
    background-color: #f8f8f8;
    margin:50px 0;
    margin-bottom: 0;
}
.clients .text {
    width:55%;
    margin:70px 7% 100px 3%;
    float:left;
}
@media (max-width:767px){
    .clients .text {
        width:70%;
        margin:70px auto 100px auto;
        float: none;
    }
    .clients .iphone {
        display: none;
    }
}
.clients .text h3 {
    font-family: sans-serif,Tahoma;
    margin-bottom: 30px;
}
.clients .text p {
    line-height: 1.4;
    color: #c9c9c9;
    margin-bottom: 30px;
}
.clients .iphone {
    width:25%;
    height: 460px;
    margin-top:50px;
    margin-right: 7%;
    border: 2px solid #c9c9c9;
    border-radius: 20px;
    float: right;
}
.clients .iphone .dot {
    width:8px;
    height: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    margin:20px auto;
    margin-bottom: 10px;
    background-color: #000;
}
.clients .iphone .ear {
    width:50px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin:0 auto;
    background-color: #000;
}
.clients .iphone .inside {
    width:90%;
    height: 70%;
    margin: 0px auto;
    margin-bottom: 5px;
    background-image: url(background.jpg);
    background-size: cover;
    opacity: 0.7;
}
.clients .iphone .inside span{
    display: block;
    width:60%;
    font-weight: bold;
    font-style: italic;
    -webkit-transform: rotate(-15deg);
    font-family: 'Fugaz One', cursive;
    margin: 15% 20%;
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    text-decoration: underline;

}
@media (min-width: 768px){

 .clients .iphone .inside span {
    font-size: 100px;
}
}
.clients .iphone .mobButn {
    width:35px;
    height: 35px;
    margin: auto;
    border:1px solid #000;
    border-radius: 50%;
    background-color: #f8f8f8;
    margin-bottom: 5px;
}
/* End Client */ 
/* Start Download */
.download {
    width:100%;
    background-image: url(floor%20background.jpg);
    background-size: cover;
    overflow: hidden;
    margin: 0;
}
.download .container {
    margin:60px auto;
}
.download .container p {
    color:#F2F2F2;
    line-height: 1.4;
    margin-bottom: 40px;
}
.download .container button{
    width:20%;
    margin: auto 40%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #FFF;
    background-color: #75316e;
}
.download .container button:hover {
    background-color: mediumvioletred;
}
@media (max-width:767px){
    .download .container button {
        width:40%;
        margin:0 30%;
    }
}
/* End Download */
/*Start Portfolio */
.portfolio {
    width: 95%;
    margin: 50px auto;
}
.portfolio h2 {
    letter-spacing: 1.5px;
    color:#727272;
}
.portfolio hr {
    width: 30%;
    margin: 25px auto 35px auto;
    border: 1px solid #727272;
    background-color: #727272;
}
.portfolio p {
    color:#dddbdc;
    font-size: 20px;
}
.portfolio section {
    width:32%;
    margin:50px 2% 50px 0;
    float: left;
}
.portfolio section:last-of-type {
    margin-right: 0;
}
@media (max-width:767px){
    .portfolio section{
        float: none;
        width:80%;
        margin:10%;
    }
}
.portfolio section img {
    width:100%;
    height: 250px;
    margin-bottom: 20px;
}
.portfolio section h3 {
    font-size: 20px;
    color:#c9c9c9;
    margin-bottom: 30px;
}
.portfolio button {
    width:15%;
    margin: auto 42.5%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #FFF;
    background-color: #75316e;  
}
.portfolio button:hover {
    background-color: mediumvioletred;    
}
@media(max-width:767px){
    .portfolio button {
        width:30%;
        margin:0 35%;
    }
}
/*End Portfolio */

/*Start Blog */
.Blog{
    width:100%;
    margin-bottom: 40px;
}
.Blog .info {
    background-image: url(shoes%20background.jpg);
    background-size: cover;
    overflow: hidden;
}
.Blog .info .container {
    margin:150px auto 30px auto;;
}
.Blog .info .container p {
    line-height: 1.4;
    color:#444444;
    font-style: italic;
    font-weight: bold;
}
.Blog .fromBlog {
    width:95%;
    margin:50px auto;
}
.Blog .fromBlog h2 {
    color:#444444;
}
.Blog .fromBlog section {
    width:40%;
    margin:40px 10% 0 0;
}
.Blog .fromBlog section img {
    margin-right:20px;
    width:100px;
    height: 80px;
}
.Blog .fromBlog section div {
    width:calc(100% - 120px);
    float: right;
}
.Blog .fromBlog section h4 {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 20px;
}
.Blog .fromBlog section p {
    color: #c9c9c9;
    line-height: 1.4;
}
.Blog .fromBlog button {
    width:15%;
    margin: auto 42.5%;
    margin-top: 80px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #FFF;
    background-color: #75316e;  
}
.Blog .fromBlog button:hover {
    background-color: mediumvioletred;    
}

@media (max-width:767px){
    .Blog .fromBlog {
        width:90%;
        margin:50px 5%;
    }
    .Blog .fromBlog section {
        width:100%;
        float: none;
        margin-bottom: 50px;
    }
    .Blog .fromBlog section img {
        float: none;
        margin-bottom: 20px;
    }
    .Blog .fromBlog section div {
        float: none;
        width:100%;
    }
    .Blog .fromBlog button {
        width:50%;
        margin:40px 25%;
    }
}
/*End Blog */

/* Start Contact */ 
.contact {
    background-color:#444444;
}
.contact section.fl-left{
    width:40%;
    margin: 50px 12% 0 3%;
}
.contact section  h3 {
    color:#f2f2f2;
}
.contact section.fl-left input {
    display: block;
    width:100%;
    border:0;
    background-color: #676767;
    border-radius: 10px;
    margin-top:20px;
    color:#F2F2F2;
    height: 30px;
}
.contact section.fl-left textarea {
    display: block;
    width:100%;
    border:0;
    background-color: #676767;
    border-radius: 10px;
    margin:20px auto;
    color:#F2F2F2;
    height: 100px;  
    resize: none;
}
.contact section.fl-left input[type="submit"] {
    width:35%;
    margin: 30px 32.5%;
    padding: 10px;
    border-radius: 20px;
    color: #FFF;
    background-color: #75316e; 
}
.contact section.fl-left input[type="submit"]:hover{
    background-color: mediumvioletred; 
    cursor: pointer;
}
@media(max-width:767px){
    .contact{
        overflow: hidden;
    }
    .contact section.fl-left {
        float: none;
        width:100%;
        margin: 50px 0;
        
    }
}
.contact section.fl-right{
    width:40%;
    margin:50px 5% 0 0;
}
.contact section.fl-right ul li {
    display: inline-block;
    color:#F2F2F2;
    font-size: 20px;
    margin:50px 25px 5px 0;
}
.contact section.fl-right ul li:hover{
    color:lawngreen;
    font-weight: 600;
    cursor:Pointer;
}
.contact section.fl-right hr {
    border:1px solid lightgray;
    background-color: #F2f2f2;
    width:65%;
    margin-left: 15px;
    margin-bottom: 15px;
}
.contact section.fl-right p{
    line-height: 1.4;
    color:#c9c9c9;
}
@media(max-width:767px){
    .contact section.fl-right{
        float: none;
        width: 100%;
        overflow: hidden;
    }
    
}
/* End Contact */ 
/*Start My Frame Work */
.unstyled {
    list-style: none;
    padding-left: 0;
}
.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.clear-fix {
    clear: both;
}
.container {
    width:70%;
    margin:auto;
}
.hide{
    display: none;
}
.txt-center {
    text-align: center;
}
.op {
    opacity: 0.2;
}
/*End My Frame Work */