*{
    margin:0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
body {
    background-color: #ededed;
    border-top:2px solid #FFF;
}
/* Start Aside */
aside {
    width:20%;
    background-color:#FFF;
    float: left;
}
aside .top {
    background-image: url(../Images/solid.png);
    background-size: cover;
    overflow: hidden;
}
aside .top .aside-cont h3 {
    margin:10px 0 20px 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
aside .top .aside-cont span {
    color:#1976d5;
}
aside .top .aside-cont img {
    width:25px;
    height: 20px;
}
aside .aside-body .aside-cont section:first-of-type {
    width:20%;
}
aside .aside-body .aside-cont section:first-of-type ul li i {
    color:#757575;
}
aside .aside-body .aside-cont section ul li{
    margin-top:15px;
}
aside .aside-body .aside-cont section:nth-of-type(2) {
    width:80%;;
}
aside .aside-body .aside-cont section:nth-of-type(2) ul li i{
    float:right;
    margin-right:10%;
}
aside .aside-body .aside-cont section ul li i:hover , aside .aside-body .aside-cont section ul li:hover {
    color:#93b956;
    cursor: pointer;
}
/* End Aside */
/* Start Header */
header {
    width:80%;
    background-color: #1976d5;
}
header ul.fl-left {
    width:10%;
}
header ul.fl-left li{
    margin-right:25%;
    font-size:14px;
    color:#FFF;
    margin-top:15px;
}
header ul.fl-right {
    width:25%;
}
header ul.fl-right li {
    margin-right: 10%;
    font-size:14px;
    color:#FFF;
    margin-top:15px;
}
header ul.fl-right  img {
    width:30px;
    height: 30px;
    border-radius: 50%; 
}
header ul li:hover {
    cursor: pointer;
}
/* End Header */
/* Start My FrameWork */
.aside-cont {
    margin-left: 10%;
}
.unstyled-list{
    list-style: none;
    padding-left: 0;
}
.clear-fix{
    clear: both;
}
.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
/* End My FrameWork */