*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
body {
    background-color:#f2f2f2;
}
/* Start Aside */
aside {
    width:25%;
    float: left;
    margin:2%;
    margin-left: 5%;
}
aside section:first-of-type {
    height: 650px;
    background-color: #ffffff;
    margin-bottom: 7%;
    overflow: hidden;
}
aside section:first-of-type ul {
   list-style: none;
    padding-left: 0;
}
aside section:first-of-type ul li {
    margin:10% 5%;
}
aside section:first-of-type ul i:first-of-type {
    float: left;
    margin: 0;
    color: #d59d24;
}
aside section:first-of-type ul span{
    color:#aaaaaa;
    margin: 0 4%;
    text-transform: uppercase;
}
aside section:first-of-type ul h3 {
    width:70%;
    margin:4% 0;
    font-size: 22px;
    display: inline-block;
}
aside section:first-of-type ul i {
    display: inline-block;
    margin-left: 25%;
    color: #aaa;
    cursor: pointer;
}
aside section:first-of-type ul hr {
    margin-top:20px;
    border:1px solid #d1d1d1;
}
aside section:first-of-type ul li section:first-of-type {
    width:40%;
    height: auto;
    float: left;
    
}
aside section:first-of-type ul li section h3 {
    margin:5% 0;
    font-size: 22px;
    display: inline-block;
}
aside section:first-of-type ul li section:first-of-type:After{
    content: "|";
    font-size: 55px;
    position: absolute;
    left: 48%;
    top:-10px;
    color:#aaa;
}
aside section:first-of-type ul li section i{
    float: right;
    margin-top:-25px;
}
aside section:first-of-type ul section:nth-of-type(2){
    width:40%;
    height: auto;
    float: right;
}
aside section:first-of-type ul button {
    width:90%;
    margin:0 5%;
    padding:5% 10%;
    background-color: #d29f22;
    border: 0;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
/* Start second sec */
aside section:nth-of-type(2){
    height: 300px;
    background-color: #ffffff;
    overflow: hidden;
}
aside section:nth-of-type(2) ul{
    margin:0 5%;
    list-style: none;
    padding-left: 0;
}aside section:nth-of-type(2) ul li:first-of-type{
    font-weight: bold;
}
aside section:nth-of-type(2) ul li {
    margin:5% 0;
    font-size: 18px;
    font-family: serif,sans-serif;
}
aside section:nth-of-type(2) ul li h2 {
    margin:7% 0;
}
/* End second sec */
/* End Aside */
.clearfix {
    clear: both;
}
/* Start Header */ 
header {
    width:64%;
    float: left;
    margin:4% 0 0 0;
}
header h1 {
    float: left;
    margin-top:0;
}
header span {
    float: right;
    display: inline-block;
    margin: 1% 0 0 3%;
    font-family: Arial;
    font-weight: 400;
    font-size: 14px;
}
/* End Header */ 

/*Start content */
.content {
    width:64%;
    height: 700px;
    float: left;
    position: relative;
}
.content .one {
    width:90%;
    margin:0 0 3% 10%;
    height: 330px;
    background-color: #FFF;
    overflow: hidden;
}
.content .one div {
    margin:4% 10px 0 25%;
    width:70%;
    height: 300px;
}
.content .one div h2 {
    margin-bottom: 10px;
}
.content .one div span:first-of-type {
    color:lightgray;
    margin: 0;
}
.content .one div span {
    margin:0 0 10px 5px; 
    display: inline-block;
}
.content .one div i:last-of-type {
    font-size: 30px;
    width: 10%;
    color:#d29f22;
}
.content .one div button {
    float: right;
    padding:5% 5%;
    background-color: #d29f22;
    border: 0;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
}
.content img:first-of-type {
    width:30%;
    height: 270px;
    position: absolute;
    top:5%;
    left:0;
}
#two {
    width:30%;
    height: 270px;
    position: absolute;
    top:56%;
    left:0;
}
#three {
    width:30%;
    height: 270px;
    position: absolute;
    top:107%;
    left:0;
}

/*End content */